<!DOCTYPE html>

<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}FeeFi the FeedFilter{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="static/css/feefi.css" rel="stylesheet"/>
{% endblock %}
</head>
<body>
{% block body %}
<h1>Select parameters</h1>
<form action="/matches" method="post">
    <div>
        <label for="home_loc_lat">Home location latitude</label>
        <input name="home_loc_lat" id="home_loc_lat" value="52.47"/>
    </div>
    <div>
        <label for="home_loc_lon">Home location longitude</label>
        <input name="home_loc_lon" id="home_loc_lon" value="13.45"/>
    </div>
    <div>
        <label for="max_dist_from_home">Max km from home for start/stop</label>
        <input name="max_dist_from_home" id="max_dist_from_home" value="10"/>
    </div>
    <div>
        <label for="min_activity_length">Minimum activity length</label>
        <input name="min_activity_length" id="min_activity_length" value="100"/>
    </div>
    <div>
        <label for="max_activity_length">Maximum activity length (0 for unlimited)</label>
        <input name="max_activity_length" id="max_activity_length" value="0"/>
    </div>
    <div>
        <label for="max_results">Maximum number of results</label>
        <input name="max_results" id="max_results" value="10"/>
    </div>
    <div>
        <input type="hidden" id="auth_code" name="auth_code" value="{{auth_code}}"/>
    </div>
    <div>
        <button>Get matches</button>
    </div>
</form>
{% endblock %}
{% block footer %}
    <img src="/static/img/api_logo_pwrdBy_strava_stack_light.png" id="strava-logo"/>
{% endblock %}
</body>
</html>
